<form class="container mat-app-background">
  <mat-card class="mar">
    <mat-card-content>
      <mat-stepper orientation="vertical" class="wide" linear>
        <mat-step label="cat">
          <mat-card>
            <mat-card-content>
              step
              <app-step-nav [continue]="true"></app-step-nav>
            </mat-card-content>
          </mat-card>
        </mat-step>
        <mat-step label="dog">
          <mat-card>
            <mat-card-content>
              step
              <app-step-nav [continue]="true"></app-step-nav>
            </mat-card-content>
          </mat-card>
        </mat-step>
        <mat-step label="cat">
          <mat-card>
            <mat-card-content>
              step
              <app-step-nav last continue></app-step-nav>
            </mat-card-content>
          </mat-card>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</form>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
